<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Movie is All You Need</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="container">
    <div id="bd">
        <div id="main">
            <h1 class="title">
                <div class="logo large"></div>
            </h1>
            <div class="nav ue-clear">

            </div>

            <div class="registerArea">
                <form method="post" enctype="multipart/form-data">
                    <input id="usernameInput" type="text" name="username" placeholder="用户名" class="input"/>
                    <input id="passwordInput" type="password" name="password" placeholder="密码" class="input"/>
                    <button class="button" type="submit" formaction="/login">登录</button>
                    <button class="button" type="submit" formaction="/register">注册</button>
                </form>
            </div>

            <div class="inputArea">
            <form method="post" action="/result" enctype="multipart/form-data">
                <select id="queryType" name="queryType">
                    <option value="normal">普通查询</option>
                    <option value="phrase">短语查询</option>
                    <option value="wildcard">通配查询</option>
                </select>
                <input id="queryInput" type="text" name="query" class="searchInput"/>
                <button class="searchButton" type="button" onclick="search()"></button>
            </form>
            <script>
            function search() {
                var query = document.getElementById('queryInput').value;
                window.location.href = '/result?q=' + encodeURIComponent(query);
            }
            </script>
            </div>

            <div class="historyArea">
                <p class="history">
                    <label>热门搜索：</label>
                    {% for query in data.pop_query %}
                        <a href="/result?q={{ query }}"> {{ query }}</a>
                    {% endfor %}
                </p>

            </div>
        </div><!-- End of main -->
    </div><!--End of bd-->

    <div class="foot">
        <div class="wrap">
            <div class="copyright">Copyright &copy;ls,qb,yx 版权所有</div>
        </div>
    </div>
</div>
</body>

</html>